.iconfont {
    margin-right: 10px;
}

.layui-footer {
    text-align: center;
    font-size: 15px;
}

iframe {
    width: 100%;
    height: 100%;
}


/* //清除动画 */

a {
    transition: none !important;
}